<table class="gridtable">
  <tr>
    <td>Antimatter Charge S</td><td>25</td>
  </tr>
  <tr>
    <td>EMP S</td><td>30</td>
  </tr>
  <tr>
    <td>Inferno Cruise Missile</td><td>195</td>
  </tr>
  <tr>
    <td>Inferno Heavy Assault Missile</td><td>62</td>
  </tr>
  <tr>
    <td>Inferno Heavy Missile</td><td>60</td>
  </tr>
  <tr>
    <td>Mjolnir Cruise Missile</td><td>275</td>
  </tr>
  <tr>
    <td>Mjolnir Heavy Assault Missile</td><td>72</td>
  </tr>
  <tr>
    <td>Mjolnir Heavy Missile</td><td>66</td>
  </tr>
  <tr>
    <td>Nova Cruise Missile</td><td>160</td>
  </tr>
  <tr>
    <td>Nova Heavy Assault Missile</td><td>55</td>
  </tr>
  <tr>
    <td>Nova Heavy Missile</td><td>40</td>
  </tr>
  <tr>
    <td>Nova Light Missile</td><td>17</td>
  </tr>
  <tr>
    <td>Scourge Cruise Missile</td><td>170</td>
  </tr>
  <tr>
    <td>Scourge Heavy Assault Missile</td><td>62</td>
  </tr>
  <tr>
    <td>Scourge Heavy Missile</td><td>57</td>
  </tr>
  <tr>
    <td>Scourge Light Missile</td><td>15</td>
  </tr>
  <tr>
    <td>Thorium Charge XL</td><td>1.285</td>
  </tr>
</table>

<table class="gridtable">
  <tr>
    <td>Arkonor Mining Crystal I</td><td>365.000</td>
  </tr>
  <tr>
    <td>Bistot Mining Crystal I</td><td>350.000</td>
  </tr>
  <tr>
    <td>Crokite Mining Crystal I</td><td>315.000</td>
  </tr>
  <tr>
    <td>Dark Ochre Mining Crystal I</td><td>270.000</td>
  </tr>
  <tr>
    <td>Gneiss Mining Crystal I</td><td>240.000</td>
  </tr>
  <tr>
    <td>Hedbergite Mining Crystal I</td><td>215.000</td>
  </tr>
  <tr>
    <td>Hemorphite Mining Crystal I</td><td>210.000</td>
  </tr>
  <tr>
    <td>Jaspet Mining Crystal I</td><td>190.000</td>
  </tr>
  <tr>
    <td>Kernite Mining Crystal I</td><td>160.000</td>
  </tr>
  <tr>
    <td>Mercoxit Mining Crystal I</td><td>850.000</td>
  </tr>
  <tr>
    <td>Omber Mining Crystal I</td><td>120.000</td>
  </tr>
  <tr>
    <td>Plagioclase Mining Crystal I</td><td>100.000</td>
  </tr>
  <tr>
    <td>Pyroxeres Mining Crystal I</td><td>75.000</td>
  </tr>
  <tr>
    <td>Veldspar Mining Crystal I</td><td>35.000</td>
  </tr>
  <tr>
    <td></td><td></td>
  </tr>

  <tr>
    <td>Cap Booster 50</td><td>700</td>
  </tr>
  <tr>
    <td>Combat Scanner Probe I</td><td>7.750</td>
  </tr>
  <tr>
    <td>Standard L</td><td>40.000</td>
  </tr>


</table>