<table class="gridtable">

  <tbody>

    <tr>

      <td> Berserker I</td>

      <td>70.000</td>

    </tr>

    <tr>

      <td> Bouncer I</td>

      <td>150.000</td>

    </tr>

    <tr>

      <td> Garde I</td>

      <td>150.000</td>

    </tr>

    <tr>

      <td> Praetor EV-900&nbsp;</td>

      <td>80.000</td>

    </tr>

    <tr>

      <td> Praetor TD-900</td>

      <td>80.000</td>

    </tr>

    <tr>

      <td> Warrior I</td>

      <td>10.000</td>

    </tr>

    <tr>

      <td> Warrior SW-300</td>

      <td>18.000</td>

    </tr>

    <tr>

      <td> Warrior TP-300</td>

      <td>25.000</td>

    </tr>

    <tr>

      <td> Valkyrie</td>

      <td>35.000</td>

    </tr>

  </tbody>
</table>
