<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

  <link href="style.css" rel="stylesheet" type="text/css" />
  <title>template</title>


</head>


<body>

<div id="container">
<div id="header"><br />

</div>

<div id="content">
<div id="left">
<div class="menu">
<div class="menuheader">
<h3>Menu</h3>

</div>

<div class="menucontent">
<ul>

  <li><a href="http://www.freewebsitetemplates.com">Home</a></li>

  <li><a href="http://www.freewebsitetemplates.com">About me</a></li>
</ul>

</div>

<div class="menufooter"></div>

</div>

<div class="menu">
<div class="menuheader">
<h3>News</h3>

</div>

<div class="menucontent">
<p><span style="font-weight: bold;"><big><span style="font-style: italic;">Temporary<br />
<br />
</span><small><span style="font-weight: bold;">This is only a temporary
site. Making the real site will take a lot more time and &nbsp;I felt
the need to put something temporary online.<br />
</span></small></big></span></p>

<p><big><span style="font-style: italic;">Suggestion?<br />
</span><small><br />
If you have suggestions, or request for items,&nbsp; I would like to hear them. Please contact me in game, by mail or massage.</small><span style="font-style: italic;"></span></big><a href="http://www.webhostingzoom.com"><br />
</a></p>

</div>

<div class="menufooter"></div>

</div>

</div>

<div id="right">
<div class="menu">
<div class="menuheader">
<h3>Products</h3>

</div>

<div class="menucontent">
<div class="member"> <a href="http://www.freewebsitetemplates.com"><img src="images/ammunition.jpg" alt="Ammunition" /></a><span><a href="http://www.freewebsitetemplates.com">Ammunition
1</a></span>
</div>

<div class="member"> <a href="http://www.freewebsitetemplates.com"><img src="images/drones.jpg" alt="Drones" /></a> <span><a href="http://www.freewebsitetemplates.com">Drones</a></span>
</div>

<div class="member"> <a href="http://www.freewebsitetemplates.com"><img src="images/modules.jpg" alt="Modules" /></a> <span><a href="http://www.freewebsitetemplates.com">Modules</a></span>
</div>

<div class="member"> <a href="http://www.freewebsitetemplates.com"><img src="images/rigs.jpg" alt="Rigs" /></a> <span><a href="http://www.freewebsitetemplates.com">Rigs</a></span>
</div>

<div class="member"> <a href="http://www.freewebsitetemplates.com"><img src="images/ships.jpg" alt="Ships" /></a> <span><a href="http://www.freewebsitetemplates.com">Ships</a></span>
</div>

<div class="member"> <a href="http://www.freewebsitetemplates.com"><img src="images/structures.jpg" alt="Structures" /></a>
<span><a href="http://www.freewebsitetemplates.com">Structures
</a></span>
</div>

<div class="clear"></div>

</div>

<div class="menufooter"></div>

</div>

</div>

<div id="middle">
<div class="post">
<div class="postheader">
<h1>Sult 's Bazaar</h1>

</div>

<div class="postcontent"><span style="font-weight: bold;"></span>
<p><big style="font-style: italic;"><big><big>Welcome to Sult's Bazaar</big></big><br />
<br />
</big>This is the place to browse for "Eve Online" goods.<br />
From ships and drones to modules and structures, more and more items will become available on this site!<br />
<br />
When you need something and you can wait a couple of hours to get it,
this is the place for you. For us people in Null-Sec items are scarce
and hard to come by. Most of it needs to come from Jita or other places
in High-sec. Lets change that and make ourselves more self sustained.<br />
<br />
Go ahead and browse around, and see if there are any goods you need. If
you find anything to your liking, please contact me in game and make
sure to get it to you as fast as possible.<br />
<br />
Please keep in mind that all prices are negotiable.</p>
</div>

<div class="postfooter"></div>

</div>

<div class="post">
<div class="postheader">
<h1>Post title</h1>

</div>

<div class="postcontent">
<p>Don't forgot to check <a href="http://www.freewebsitetemplates.com">free website
templates</a> every day, because we add at least one free website
template daily.</p>

<p>This is a template designed by free website templates for you
for free you can replace all the text by your own text. This is just a
place holder so you can see how the site would look like.</p>

<p>You can remove any link to our websites from this template
you're free to use the template without linking back to us. Don't want
your boss to know you used a free website template ;) .</p>

<p>If you're having problems editing the template please don't
hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">forum</a>.</p>

<p>If you're looking for beautiful and professionally made
templates you can find them at <a href="http://www.templatebeauty.com">Template Beauty</a>.</p>

<p>To find great hosting providers visit <a href="http://www.webhostingzoom.com">Web Hosting Zoom</a></p>

</div>

<div class="postfooter"></div>

</div>

</div>

</div>


</div>

</body>
</html>
