<table class="gridtable">
  <tr>
    <td>1MN Afterburner I</td><td>15.000</td>
  </tr>
  <tr>
    <td>1MN Microwarpdrive I</td><td>75.000</td>
  </tr>
  <tr>
    <td>10MN Afterburner I</td><td>65.000</td>
  </tr>
  <tr>
    <td>150mm Railgun I</td><td>27.000</td>
  </tr>
  <tr>
    <td>200mm Reinforced Steel Plates I</td><td>135.000</td>
  </tr>
  <tr>
    <td>250mm Railgun I</td><td>375.000</td>
  </tr>
  <tr>
    <td>Adaptive Invulnerability Field I</td><td>145.000</td>
  </tr>
  <tr>
    <td>Ballistic Control System I</td><td>45.000</td>
  </tr>
  <tr>
    <td>Cruise Missile Launcher I</td><td>85.000</td>
  </tr>
  <tr>
    <td>Damage Control I</td><td>11.000</td>
  </tr>
  <tr>
    <td>Dual 250mm Railgun I</td><td>265.000</td>
  </tr>
  <tr>
    <td>ECM - White Noise Generator I</td><td>90.000</td>
  </tr>
  <tr>
    <td>ECM Burst I</td><td>25.000</td>
  </tr>
  <tr>
    <td>Expanded Cargohold I</td><td>3.500</td>
  </tr>
  <tr>
    <td>Explosive Deflection Amplifier I</td><td>40.000</td>
  </tr>
  <tr>
    <td>Heavy Assault Missile Launcher I</td><td>65.000</td>
  </tr>
  <tr>
    <td>Heavy Neutron Blaster I</td><td>190.000</td>
  </tr>
  <tr>
    <td>Ice Harvester Upgrade I</td><td>30.000</td>
  </tr>
  <tr>
    <td>Light Ion Blaster I</td><td>19.000</td>
  </tr>
  <tr>
    <td>Magnetic Field Stabilizer I</td><td>70.000</td>
  </tr>
  <tr>
    <td>Micro Auxiliary Power Core I</td><td>265.000</td>
  </tr>
  <tr>
    <td>Mining Laser Upgrade I</td><td>45.000</td>
  </tr>
  <tr>
    <td>Overdrive Injector System I</td><td>40.000</td>
  </tr>
  <tr>
    <td>Rapid Light Missile Launcher I</td><td>15.500</td>
  </tr>
  <tr>
    <td>Sensor Booster I</td><td>50.000</td>
  </tr>
  <tr>
    <td>Shield Power Relay I</td><td>22.000</td>
  </tr>
  <tr>
    <td>Shield Recharger I</td><td>17.000</td>
  </tr>
  <tr>
    <td>Stasis Webifier I</td><td>40.000</td>
  </tr>
  <tr>
    <td>Strip Miner I</td><td>2.100.000</td>
  </tr>
  <tr>
    <td>Survey Scanner I</td><td>8.000</td>
  </tr>
  <tr>
    <td>Target Painter I</td><td>40.000</td>
  </tr>
  <tr>
    <td>Warp Scrambler I</td><td>65.000</td>
  </tr>
  <tr>
    <td></td><td></td>
  </tr>
  <tr>
    <td>Small Energy Neutralizer I</td><td>30.000</td>
  </tr>
  <tr>
    <td>Small Shield Extender I</td><td>15.000</td>
  </tr>
  <tr>
    <td>Small Tractor Beam I</td><td>1.500.000</td>
  </tr>
  <tr>
    <td>Medium Shield Booster I</td><td>66.000</td>
  </tr>
  <tr>
    <td>Medium Shield Extender I</td><td>40.000</td>
  </tr>
  <tr>
    <td>Large Shield Booster I</td><td>220.000</td>
  </tr>
  <tr>
    <td>Large Shield Extender I</td><td>65.000</td>
  </tr>
</table>